<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Change Shop Item</title>
        <%- include('layouts/head.ejs') %>
    </head>
    <body>
        <%- include('layouts/navbar.ejs') %>
        <h1>Change Shop Item</h1>
        <form action="/shop/<%= shop._id %>" method="POST" enctype="multipart/form-data">
            <% if(error && error.length > 0){%>
                <div class="alert alert-danger"><%= error %></div>
            <%}%>
            <div class="form-group">
                <label for="name">Product: </label>
                <input id="name" class="form-control" type="text" name="itemName" placeholder="Enter the name of the item..." />
            </div>
            <div class="form-group">
                <label for="price">Price: </label>
                <input id="price" class="form-control" type="text" name="price" placeholder="Enter the price of the item..." />
            </div>
            <div class="form-group">
                <label for="image">Image: </label>
                <input type="file" class="form-control" id="image" name="image" />             
            </div>
            <button>Change</button>
        </form>
        <% if(login){%>
            <button id="gone"><i class="fas fa-trash"></i></button>
        <%}%>
        <%- include('layouts/scripts.ejs') %>
    </body>
</html>